/* default css start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aqua;
}
.containera {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.navbar-are {
  background: rgba(58, 24, 24, 0.16);
  /* border-bottom: 1px solid #cfcece; */
  position: sticky;
  backdrop-filter: blur(9px);
  top: 0;
}
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-navbar img {
  border-radius: 50%;
  /* border: 1px solid rgba(255, 254, 254, 0.24); */
}
.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.site-navbar ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
}
/* navbar regular css end */

/* nav-toggler css start */
.nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: 0.3s;
}
.nav-toggler span:before {
  content: "";
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: "";
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}

.intro-area {
  height: calc(100vh - 61px);
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}
.intro-area h2 {
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  margin-bottom: 25px;
}
.intro-area p {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 720px;
  }
  /* navbar css for mobile start */
  .nav-toggler {
    display: block;
  }
  .site-navbar {
    min-height: 60px;
  }

  .site-navbar ul {
    top: 60px;
    display: block;
    position: fixed;
    width: 100%;
    height: calc(100vh - 61px);
    background: rgb(48, 70, 48);
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
  }
  .site-navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .site-navbar ul.open {
    max-height: 100vh;
    left: 0;
  }
  .intro-area h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }
  /* navbar css for mobile end */
}
